<div style="margin: 0; padding: 20px; width: 100%">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			Welcome, {{receiver}}!
		</tr>

		<br />
		<br />

		<tr>
			We are excited to have you get started. First, you need to confirm
			your account by clicking the link below:
		</tr>

		<br />
		<br />

		<tr>
			<a href="{{activationUrl}}">{{activationUrl}}</a>
		</tr>

		<br />
		<br />

		<tr>
			If clicking the link doesn't work, you can copy and paste the link
			into your web browser's address bar. You will be able to create a
			new password for your ViSpace account after clicking the link above.
		</tr>

		<br />
		<br />
		<tr>
			Sincerely,
		</tr>
		<br />
		<tr>
			ViSpace Team
		</tr>
	</table>
</div>
