<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			Hello from ViSpace Authentication,
		</tr>

		<br />
		<br />

		<tr>
			We received a request to reset the password for the ViSpace account
			associated with this e-mail address. Click the link below to reset
			your password using our secure server:
		</tr>

		<br />
		<br />

		<tr>
			<a href="{{resetPasswordUrl}}">{{resetPasswordUrl}}</a>
		</tr>

		<br />
		<br />
		<tr>
			If clicking the link doesn't work, you can copy and paste the link
			into your web browser's address bar. You will be able to create a
			new password for your ViSpace account after clicking the link above.
		</tr>

		<br />
		<br />

		<tr>
			If you did not request to have your password reset, you can safely
			ignore this email.
		</tr>

		<br />
		<br />

		<tr>
			Thank you for using ViSpace.
		</tr>

		<br />
		<br />
		<tr>
			Sincerely,
		</tr>
		<br />
		<tr>
			ViSpace Team
		</tr>
	</tbody>
</table>
